### GENERAL

# Auth (generate with: openssl rand -base64 32)
AUTH_SECRET=""

# Database (Neon Postgres)
DATABASE_URL=""

### INTEGRATIONS

# EDMTrain (https://edmtrain.com/api)
EDMTRAIN_KEY=""

# Last.fm (https://www.last.fm/api/account/create)
LASTFM_KEY=""

# Spotify (https://developer.spotify.com/dashboard)
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""

# Ticketmaster (https://developer.ticketmaster.com/)
TICKETMASTER_KEY=""
